<div class="container">
  <header class="header">
    <h1>Welcome to My Angular Project!</h1>
    <p>This project demonstrates the core features of Angular and includes a few example components.</p>
  </header>

  <section class="content">
    <app-first-component></app-first-component>
    <app-second-component></app-second-component>

    <app-parent-component></app-parent-component>
    <app-keyframe-animation></app-keyframe-animation> <!-- Keyframe animation component -->
    <app-state-animation></app-state-animation> <!-- State-based animation component -->
    <app-reusable-animation></app-reusable-animation> <!-- Reusable animation component -->

    <app-component3></app-component3>
    <app-component4></app-component4>
    <app-component5></app-component5>

  </section>
</div>